# Supervised Machine Learning


1- classification -- should be descrete (1,0)-- binary classification 
2- regression -- continous descrete (2.45, 5.67)

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS/MACHINE LEARNING/data/"

In [7]:
#we are using regression
startups = pd.read_csv(path + "50_startups.csv")
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Classification

In [4]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS\MACHINE LEARNING/data/"

In [6]:
#we are using classification model here cos of target is a decrete output
Social_network = pd.read_csv(path + "Social_Network_Ads.csv")
Social_network.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
#separate the feature from the target
X = Social_network.drop(columns = ["User ID"]) #dropping the user id column
y = X.pop("Purchased") #target

In [14]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

# Step Two (if neccessary)

In [17]:
# transformation

# norminal variable e.g male and fenale
# ordinal variable e.g good better best

good      0
better    1
best      2

In [ ]:
STATE
lagos
oyo
ondo

state_lagos  state_oyo  state_ondo
      1            0         0
      0            1         0
      0            0         1

In [20]:
## transforming the gender column
X = pd.get_dummies(X, columns = ["Gender"])

# Step Three

In [ ]:
# splitting data into train ad validation

In [25]:
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size = 0.1, random_state = 42)

# Step Four

In [30]:
# build the model 
from sklearn.tree import DecisionTreeClassifier #import algorithm
dt = DecisionTreeClassifier() # create the instance of the algorithm
model1 = dt.fit(x_train, y_train)

In [29]:
# build model 2
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model2 = lr.fit(x_train, y_train)

# Step Five

In [ ]:
# Evaluation

In [33]:
prediction1 = model1.predict(x_val)

In [38]:
# using metric to crosscheck our prediction
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_val, prediction1)

0.825

In [39]:
confusion_matrix(y_val, prediction1)

array([[23,  4],
       [ 3, 10]], dtype=int64)

In [40]:
x_val.shape # to check the number of rows and column

(40, 4)

In [44]:
y_val.value_counts()  # showinvg the number of times 0 and 1 appeared

0    27
1    13
Name: Purchased, dtype: int64

#  ASSIGNMENT

In [12]:
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
#separating the features from the target

X = startups
y = X.pop("Profit") # as target

NameError: name 'startups' is not defined

In [8]:
# another approach
X = startups.iloc[:, :-1]
y = startups["Profit"]

In [10]:
# transforming th state columns
X = pd.get_dummies(X, columns = ["State"])

In [11]:
X

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,0,0,1
1,162597.70,151377.59,443898.53,1,0,0
2,153441.51,101145.55,407934.54,0,1,0
3,144372.41,118671.85,383199.62,0,0,1
4,142107.34,91391.77,366168.42,0,1,0
5,131876.90,99814.71,362861.36,0,0,1
6,134615.46,147198.87,127716.82,1,0,0
7,130298.13,145530.06,323876.68,0,1,0
8,120542.52,148718.95,311613.29,0,0,1
9,123334.88,108679.17,304981.62,1,0,0
10,101913.08,110594.11,229160.95,0,1,0
11,100671.96,91790.61,249744.55,1,0,0
12,93863.75,127320.38,249839.44,0,1,0
13,91992.39,135495.07,252664.93,1,0,0
14,119943.24,156547.42,256512.92,0,1,0
15,114523.61,122616.84,261776.23,0,0,1
16,78013.11,121597.55,264346.06,1,0,0
17,94657.16,145077.58,282574.31,0,0,1
18,91749.16,114175.79,294919.57,0,1,0
19,86419.70,153514.11,0.00,0,0,1
20,76253.86,113867.30,298664.47,1,0,0
21,78389.47,153773.43,299737.29,0,0,1
22,73994.56,122782.75,303319.26,0,1,0
23,67532.53,105751.03,304768.73,0,1,0
24,77044.01,99281.34,140574.81,0,0,1
25,64664.71,139553.16,137962.62,1,0,0
26,75328.87,144135.98,134050.07,0,1,0
27,72107.60,127864.55,353183.81,0,0,1
28,66051.52,182645.56,118148.20,0,1,0
29,65605.48,153032.06,107138.38,0,0,1
30,61994.48,115641.28,91131.24,0,1,0
31,61136.38,152701.92,88218.23,0,0,1
32,63408.86,129219.61,46085.25,1,0,0
33,55493.95,103057.49,214634.81,0,1,0
34,46426.07,157693.92,210797.67,1,0,0
35,46014.02,85047.44,205517.64,0,0,1
36,28663.76,127056.21,201126.82,0,1,0
37,44069.95,51283.14,197029.42,1,0,0
38,20229.59,65947.93,185265.10,0,0,1
39,38558.51,82982.09,174999.30,1,0,0
40,28754.33,118546.05,172795.67,1,0,0
41,27892.92,84710.77,164470.71,0,1,0
42,23640.93,96189.63,148001.11,1,0,0
43,15505.73,127382.30,35534.17,0,0,1
44,22177.74,154806.14,28334.72,1,0,0
45,1000.23,124153.04,1903.93,0,0,1
46,1315.46,115816.21,297114.46,0,1,0
47,0.00,135426.92,0.00,1,0,0
48,542.05,51743.15,0.00,0,0,1
49,0.00,116983.80,45173.06,1,0,0

In [13]:
# split into train and val

from sklearn.model_selection import train_test_split

x_train, x_val, y_train, y_val = train_test_split(X, y, train_size = 0.9, random_state = 42)

In [ ]:
# Evaluation
from sklearn.metrics import mean_absolute_error
prediction_1 = model1.predict(x_val)


# how mean absolute error works
#if true value is 10, model predicted 5. the diiference between them is 5, absolute is 5
                #15                  18                                -3              3
                #12                  10                                 2              2
        
# so now we have (5+3+2)/3 mean absolute error = 3.33333

In [25]:
# building model

from sklearn.linear_model import LinearRegression

lr = LinearRegression()
model1 = lr.fit(x_train, y_train)

# eavaluation
from sklearn.metrics import mean_absolute_error
prediction_1 = model1.predict(x_val)

eval_1 = mean_absolute_error(y_val, prediction_1)
eval_1

6777.573873301639

In [27]:
from sklearn.linear_model import Ridge
R = Ridge()
model2 = R.fit(x_train, y_train)

# eavaluation
from sklearn.metrics import mean_absolute_error
prediction_1 = model2.predict(x_val)

eval_1 = mean_absolute_error(y_val, prediction_1)
eval_1

6782.553221831479

In [22]:
from sklearn.svm import SVR
svr = SVR()
model3 = svr.fit(x_train, y_train)

from sklearn.metrics import mean_absolute_error
prediction_1 = model3.predict(x_val)

eval_1 = mean_absolute_error(y_val, prediction_1)
eval_1

24466.967236148907

In [23]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()
model4 = rfr.fit(x_train, y_train)

from sklearn.metrics import mean_absolute_error
prediction_1 = model4.predict(x_val)

eval_1 = mean_absolute_error(y_val, prediction_1)
eval_1

8130.386679999991

In [30]:
from sklearn.neighbors import KNeighborsRegressor

KNR =KNeighborsRegressor()

model5 =KNR.fit(x_train, y_train)

from sklearn.metrics import mean_absolute_error
prediction_1 = model5.predict(x_val)

eval_1 = mean_absolute_error(y_val, prediction_1)
eval_1

5441.3027999999995