# Supervised Machine Learning


1- classification -- should be descrete (1,0)-- binary classification 
2- regression -- continous descrete (2.45, 5.67)

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Regression

In [2]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS/MACHINE LEARNING/data/"

In [3]:
#we are using regression
startups = pd.read_csv(path + "50_startups.csv")
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Classification

In [4]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS\MACHINE LEARNING/data/"

In [6]:
#we are using classification model here cos of target is a decrete output
Social_network = pd.read_csv(path + "Social_Network_Ads.csv")
Social_network.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
#separate the feature from the target
X = Social_network.drop(columns = ["User ID"]) #dropping the user id column
y = X.pop("Purchased") #target

In [14]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

# Step Two (if neccessary)

In [17]:
# transformation

# norminal variable e.g male and fenale
# ordinal variable e.g good better best

good      0
better    1
best      2

In [ ]:
STATE
lagos
oyo
ondo

state_lagos  state_oyo  state_ondo
      1            0         0
      0            1         0
      0            0         1

In [20]:
## transforming the gender column
X = pd.get_dummies(X, columns = ["Gender"])

# Step Three

In [ ]:
# splitting data into train ad validation

In [25]:
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size = 0.1, random_state = 42)

# Step Four

In [30]:
# build the model 
from sklearn.tree import DecisionTreeClassifier #import algorithm
dt = DecisionTreeClassifier() # create the instance of the algorithm
model1 = dt.fit(x_train, y_train)

In [29]:
# build model 2
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model2 = lr.fit(x_train, y_train)

# Step Five

In [ ]:
# Evaluation

In [33]:
prediction1 = model1.predict(x_val)

In [32]:
y_val

209    0
280    1
33     0
210    1
93     0
84     0
329    1
94     0
266    0
126    0
9      0
361    1
56     0
72     0
132    0
42     0
278    1
376    0
231    0
385    1
77     0
15     0
391    1
271    1
0      0
396    1
114    0
225    0
262    1
104    0
395    1
193    0
261    1
57     0
232    1
116    0
113    0
342    0
158    0
141    0
Name: Purchased, dtype: int64