# Supervised Machine Learning


1- classification -- should be descrete (1,0)-- binary classification 
2- regression -- continous descrete (2.45, 5.67)

In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# Regression

In [7]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS/MACHINE LEARNING/data/"

In [9]:
#we are using regression
startups = pd.read_csv(path + "50_startups.csv")
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Classification

In [4]:
path = "C:/Users/USER/OneDrive/Documents/LASOP DATA ANALYTICS\MACHINE LEARNING/data/"

In [6]:
#we are using classification model here cos of target is a decrete output
Social_network = pd.read_csv(path + "Social_Network_Ads.csv")
Social_network.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [15]:
#separate the feature from the target
X = Social_network.drop(columns = ["User ID"]) #dropping the user id column
y = X.pop("Purchased") #target

In [14]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

# Step Two (if neccessary)

In [17]:
# transformation

# norminal variable e.g male and fenale
# ordinal variable e.g good better best

good      0
better    1
best      2

In [ ]:
STATE
lagos
oyo
ondo

state_lagos  state_oyo  state_ondo
      1            0         0
      0            1         0
      0            0         1

In [20]:
## transforming the gender column
X = pd.get_dummies(X, columns = ["Gender"])

# Step Three

In [ ]:
# splitting data into train ad validation

In [25]:
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size = 0.1, random_state = 42)

# Step Four

In [30]:
# build the model 
from sklearn.tree import DecisionTreeClassifier #import algorithm
dt = DecisionTreeClassifier() # create the instance of the algorithm
model1 = dt.fit(x_train, y_train)

In [29]:
# build model 2
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model2 = lr.fit(x_train, y_train)

# Step Five

In [ ]:
# Evaluation

In [33]:
prediction1 = model1.predict(x_val)

In [38]:
# using metric to crosscheck our prediction
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_val, prediction1)

0.825

In [39]:
confusion_matrix(y_val, prediction1)

array([[23,  4],
       [ 3, 10]], dtype=int64)

In [40]:
x_val.shape # to check the number of rows and column

(40, 4)

In [44]:
y_val.value_counts()  # showinvg the number of times 0 and 1 appeared

0    27
1    13
Name: Purchased, dtype: int64

#  ASSIGNMENT

In [12]:
startups.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [18]:
#separating the features from the target

X = startups
y = X.pop("Profit") # as target

KeyError: 'Profit'

0     192261.83
1     191792.06
2     191050.39
3     182901.99
4     166187.94
5     156991.12
6     156122.51
7     155752.60
8     152211.77
9     149759.96
10    146121.95
11    144259.40
12    141585.52
13    134307.35
14    132602.65
15    129917.04
16    126992.93
17    125370.37
18    124266.90
19    122776.86
20    118474.03
21    111313.02
22    110352.25
23    108733.99
24    108552.04
25    107404.34
26    105733.54
27    105008.31
28    103282.38
29    101004.64
30     99937.59
31     97483.56
32     97427.84
33     96778.92
34     96712.80
35     96479.51
36     90708.19
37     89949.14
38     81229.06
39     81005.76
40     78239.91
41     77798.83
42     71498.49
43     69758.98
44     65200.33
45     64926.08
46     49490.75
47     42559.73
48     35673.41
49     14681.40
Name: Profit, dtype: float64

In [20]:
X = pd.get_dummies(X, columns = ["State"])

In [21]:
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size = 0.1, random_state = 42)

In [24]:
from sklearn.tree import DecisionTreeClassifier #import algorithm
dt = DecisionTreeClassifier() # create the instance of the algorithm
dt.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'

In [23]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
model2 = lr.fit(x_train, y_train)

ValueError: Unknown label type: 'continuous'